img.th {

	border-radius: 3px;
	margin-top: 2px;
	margin-bottom: 14px;
	border-color: #fff;
	border-width: 1px;

	padding-right: 8px;
	padding-left: 8px;

	padding-top: 4px;
	padding-bottom: 4px;
}

img.th:hover {
	border-color: #ccc;
}


a.tiny-link {
	margin-right: 10px;
	font-size: 1em;
	color: #999;

}

a.tiny-link:hover {
	color: #000;
}

p, li {
	font-size: 0.93em;
}

dd > a {
	font-size: 1.1em;
	font-weight: 400;
}


@media only screen and (max-width: 64.063em) {

	p, li, a.tiny-link {
		font-size: 1.1em;
	}

/*	img.th {
		max-width: 20em;
	}*/

/*	img.th {
		display: none;
	}*/

	dd > a {
		font-size: 3em;
	}

	img.th {
		opacity: 0.85;
	}

	img.th:hover{
		opacity: 1.0;
	}

	h4 {
		font-size: 1.3em;
	}

}

