$h4-font-size: 1.2rem;
$h5-font-size: 1.0rem;
$header-top-margin: 1.8rem;
//$header-bottom-margin: 0.2rem;
$header-font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$header-font-color: #666666;


$topbar-height: 1.9rem;
//$topbar-title-weight: 600;
//$topbar-title-font-size: 1.3rem;
//$topbar-bg-color: #fff;
//$topbar-link-color: #358062;


$sub-nav-font-size: 0.8rem;
$sub-nav-active-bg: #acd0b4;
$sub-nav-item-divider: '-';
$sub-nav-border-radius: 0px;


$topbar-bg-color: #666666;
$topbar-link-bg-active: #acd0b4;
$topbar-link-bg-hover: #acd0b4;

$button-border-width: 1px;
$button-border-style: solid;

//$hr-margin: 0.5rem;


//$paragraph-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
//$paragraph-font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$paragraph-font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
$paragraph-font-size: .85rem;
$paragraph-line-height: 1.5;
$paragraph-margin-bottom: 0.6rem;

$button-tny: 0.2rem;


$anchor-font-color:  #358062;
$anchor-font-color-hover: #358062;
//$anchor-text-decoration: underline;
$blockquote-padding: 0.5rem;
$blockquote-font-color: #aaa;

$thumb-box-shadow: 0 0 0 1px rgba(#000,.2);
$thumb-box-shadow-hover: 0 0 0px 1px rgba(#000,0.2);


@import "foundation/components/type";
@import "foundation/components/sub-nav";
@import "foundation";

blockquote {
//  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-weight: 300;
  font-size: 0.80rem;
}

.button {
  background-color: #ffffff;
  border-color: #b4b8b3;
  color: #999;
  padding-left: 0px;
  padding-right: 0px;
}

.button:hover {
  background-color: #acd0b4;
}

h4 {
//  text-align: right;
  margin-top: 3.0rem;
}

h5 {
  margin-top: 0.5rem;
}



